#root {
  width: 100%;
  margin: 20px;
  padding: 2rem;
  text-align: center;
  background-color: #aaa;
  height:100%;
}

.info {
  background-color: rgb(20, 19, 19);
  border-color: #aaa; 
  margin:15px;
  border-radius: 25px;
  border: 2px solid #73AD21;
}
.pups{
    border-radius: 25px;
    border: 2px solid #73AD21;
    background-color: black;
    /* width:20% */
}